@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background-color: rgba(37, 33, 33, 0.774); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-text {
  @apply font-semibold text-[12px];
}

.custom-color {
  @apply text-[#7C8493];
}

.custome-style {
  @apply h-[31px] rounded-[80px] p-[6px] gap-[8px] flex justify-center items-center;
}

ul > li {
  list-style-type: disc;
  margin-left: 1rem;
  color: black;
}
